@model AIT.WebUIComponent.Models.Account.SetPasswordViewModel

@{
    ViewBag.Title = " - tworzenie hasła";
    Layout = "~/Views/Shared/_LayoutSubPage.cshtml";
}

<div class="row">
    <p class="form-text">
        DODAJ LOKALNE HASŁO
    </p>
    <hr class="separator" />
    <div class="text-center page-desc">
        <p>
            Ponieważ logujesz się z użyciem zewnętrznego serwisu, jako użytkownik nie posiadasz lokalnego hasła.
        </p>
        <p>
            Ustaw hasło, aby móc logować się bez użycia zewnętrznego serwisu.
        </p>
    </div>
</div>
<div class="row">
    <div class="form-panel">
        <div class="form-header form-header-blue">
            <div class="form-title">
                Ustaw hasło
            </div>
        </div>
        <div class="form-body form-body-blue">
            @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { id = "setPassForm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-inputs">
                    <div class="form-ctrl-area">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-ctrl", placeholder = "Nowe hasło" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="form-ctrl-area">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-ctrl", placeholder = "Powtórz hasło" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    @Html.ValidationSummary(true)
                </div>
                <div class="form-body-btn">
                    <button type="submit" class="btn-rounded btn-turquoise" title="Zapisz">
                        <span class="icon icon-lg icon-save"></span>
                    </button>
                </div>                
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/enhance")
}