@using AIT.BallroomDomain.Model.Enums;

<div class="ballroom-items">
    <div>
        <button class="btn-rounded btn-turquoise" data-item-type="@((int)ItemType.TableRect)">
            <span class="icon-ballroom icon-tab-rect"></span>
        </button>
    </div>
    <div>
        <button class="btn-rounded btn-turquoise" data-item-type="@((int)ItemType.TableRound)">
            <span class="icon-ballroom icon-tab-round"></span>
        </button>
    </div>
    <div>
        <button class="btn-rounded btn-turquoise" data-item-type="@((int)ItemType.StageRect)">
            <span class="icon-ballroom icon-stage-rect"></span>
        </button>
    </div>
    <div>
        <button class="btn-rounded btn-turquoise" data-item-type="@((int)ItemType.StageHalfCircle)">
            <span class="icon-ballroom icon-stage-round"></span>
        </button>
    </div>
    <div>
        <button class="btn-rounded btn-turquoise" data-item-type="@((int)ItemType.PillarRect)">
            <span class="icon-ballroom icon-pillar-rect"></span>
        </button>
    </div>
    <div>
        <button class="btn-rounded btn-turquoise" data-item-type="@((int)ItemType.PillarRound)">
            <span class="icon-ballroom icon-pillar-round"></span>
        </button>
    </div>
</div>
