@model AIT.WebUIComponent.Models.Account.ResetPasswordViewModel

@{
    ViewBag.Title = " - zmiana hasła";
    Layout = "~/Views/Shared/_LayoutSubPage.cshtml";
}

<div class="row">
    <p class="form-text">
        ZMIANA HASŁA
    </p>
    <hr class="separator" />
</div>
<div class="row">
    <div class="form-panel">
        <div class="form-header form-header-green">
            <div class="form-title">
                Wprowadź nowe hasło
            </div>
        </div>
        <div class="form-body form-body-green">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "resetPassForm", @class = "form-reset", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(model => model.UserId)
                
                <div class="form-inputs">
                    <div class="form-ctrl-area">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-ctrl", placeholder = "Nowe hasło" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-ctrl-area">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-ctrl", placeholder = "Powtórz hasło" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    @Html.ValidationSummary(true)
                </div>
                <div class="form-body-btn">
                    <button type="submit" class="btn-rounded btn-turquoise">
                        <span class="icon icon-lg icon-save"></span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/enhance")
}